<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>hERG DataBase</title>
  <!-- Bootstrap Styles-->
  <link href="/static/assets/css/bootstrap.css" rel="stylesheet" />
  <!-- FontAwesome Styles-->
  <link href="/static/assets/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom Styles-->
  <link href="/static/assets/css/custom-styles.css" rel="stylesheet" />
  <!-- Google Fonts-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">hERG DataBase</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><b>herg</b>database</a>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li>
            <a href="IndexTrain" class="active-menu"><i class="fa fa-table"></i> Train Set</a>
          </li>
          <li>
            <a href="IndexTest"><i class="fa fa-table"></i> Test Set</a>
          </li>
          <li>
            <a href="AddTestDataShow"><i class="fa fa-edit"></i> Add TestData</a>
          </li>
          <li>
            <a href="AddTrainDataShow"><i class="fa fa-edit"></i> Add TrainData</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
      <div id="page-inner">
        <div class="row">
          <div class="col-lg-6" style="margin-left: 25%;">
            <h1 style="text-align: center;margin-bottom: 20px;font-weight: 600;color: dimgrey;">Alter TrainData</h1>
            {volist name="data" id="k"}
            <form role="form" method="post" action="AlterTrainData">
              <input type="hidden" name="id" value="{$k.id}">
              <div class="form-group">
                <label><span style="font-size: medium;">{$k.SMILES}</span></label>
                <input name="SMILES" class="form-control" placeholder="new SMILES" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label><span style="font-size: medium;">{$k.pIC50}</span></label>
                <input name="pIC50" onkeyup="this.value=this.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3')"
                  class="form-control" placeholder="new pIC50" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label><span style="font-size: medium;">{$k.Reference}</span></label>
                <input name="Reference" class="form-control" placeholder="new Reference" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label><span style="font-size: medium;">{$k.name_id}</span></label>
                <input name="name_id" class="form-control" placeholder="new Name&Id" autocomplete="off" required>
              </div>
              <div class="form-group">
                <label><span style="font-size: medium;">{$k.Data_set}</span></label>
                <select name="DataSet" class="form-control">
                  <option style="color: red;">{$k.Data_set}</option>
                </select>
              </div>
              <div class="form-group" style="text-align: center;padding-top: 10px;">
                <button type="submit" class="btn btn-primary" style="width: 80px;"
                  onclick="return confirm('Are you sure to update the current data?');">Submit</button>&nbsp;&nbsp;&nbsp;
                <button type="reset" class="btn btn-success" style="width: 80px;">Reset</button>&nbsp;&nbsp;&nbsp;
                <a href="javascript:history.back(-1)" class="btn btn-warning" style="width: 80px;">Back</a>
              </div>
            </form>
            {/volist}
          </div>
          <!-- /.col-lg-6 (nested) -->
        </div>
      </div>
      <footer>
        <p>xxxx xxxx xxxx xxxx: <a href="#">hERG DataBase</a></p>
      </footer>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
  <!-- /. WRAPPER  -->
  <!-- JS Scripts-->
  <!-- jQuery Js -->
  <script src="/static/assets/js/jquery-1.10.2.js"></script>
  <!-- Bootstrap Js -->
  <script src="/static/assets/js/bootstrap.min.js"></script>
  <!-- Metis Menu Js -->
  <script src="/static/assets/js/jquery.metisMenu.js"></script>
</body>

</html>